:root { 
--white_A700_7f:#ffffff7f; 
--blue_A400:#387cff; 
--deep_purple_800:#552990; 
--red_500:#ff472e; 
--green_800:#009a08; 
--black_900_3f:#0000003f; 
--white_A700_cc:#ffffffcc; 
--black_900:#000000; 
--yellow_700:#ffbb22; 
--yellow_900:#e27625; 
--deep_orange_800:#cc6228; 
--purple_900:#542d72; 
--white_A700_19:#ffffff19; 
--blue_gray_900_01:#333333; 
--deep_orange_500:#ff512f; 
--blue_gray_900:#233447; 
--blue_gray_900_87:#33333387; 
--blue_gray_900_63:#33333363; 
--red_A700:#ff0000; 
--purple_400:#a566a6; 
--gray_900_02:#1b1b1e; 
--gray_600:#71706c; 
--gray_900_03:#23272d; 
--gray_600_87:#71706c87; 
--gray_400:#d5bfb2; 
--blue_gray_100:#d9d9d9; 
--gray_900:#18181a; 
--gray_900_01:#161616; 
--lime_900:#763e1a; 
--gray_600_63:#71706c63; 
--orange_600:#fd8b0e; 
--blue_gray_900_5e:#3333335e; 
--yellow_900_02:#e17726; 
--gray_600_5e:#71706c5e; 
--yellow_900_01:#f5841f; 
--gray_400_01:#c0ac9d; 
--yellow_900_03:#e27525; 
--white_A700:#ffffff; 
}